<!DOCTYPE html>
<html lang="en">

<head>
  <title>Ngân Hàng Máu</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="This is website management hospital">
  <meta name="author" content="Team real intership in VNPT-IT">

  <link rel="stylesheet" type="text/css" href="css/style_index.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script:400,700" rel="stylesheet">

  <script src="jquery.js"></script>
  <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <div class="wrap">
      <div class="title">
        <div class="title-div1">
          
        </div>
        <div class="title-div2">
            Quản Lí Ngân Hàng Máu
        </div>
        <div class="title-div3">
          <div class="button-trangchu">
            <p>Trang chủ</p>
          </div>
        </div>

      </div>
      <div class="content">
          <div class="content1">
            <div class="chucnang2">
              <div class="nd-chucnang2">
                <a href = "qlnkltm">Quản lí nhập kho lưu trữ máu</a>
              </div>
            </div>
          </div>
          <div class="content2">
            <div class="chucnang4">
              <div class="nd-chucnang4">
                <a href = "qldmmcp">Quản lí danh mục mã chế phẩm</a>
              </div>
            </div>
            <div class="chucnang5">

            </div>
            <div class="chucnang6">
                <div class="nd-chucnang6">
                <a href = "qldmmcp">Quản lí danh mục mã chế phẩm</a>
              </div>
            </div>
          </div>
          <div class="content3">

          </div>
      </div>
      <div class="footer">

      </div>
    </div>
    
</body>
</html>